<ion-header>
  <ion-toolbar color="primary">
    <ion-title>學生使用狀況</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/{{get_id}}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="pesonal-infommation">
      <ion-card-content>
        <ion-item>
          <ion-label>嗨, {{data_person.Data && data_person.Data[0]?.Name}} </ion-label>
          <ion-icon name="person-circle-outline" slot="start" color="primary"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>你今天已經喝了: {{data_person.Data && data_person.Data[0]?.TodayDrink}}   毫升<span class="water-drank"></span></ion-label>
          <ion-icon name="information-circle-outline" slot="start" color="primary"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon name="hourglass-outline" slot="start" color="primary"></ion-icon>
          <ion-label>還需要喝: {{(data_person.Data && data_person.Data[0]?.DailyShouldDrink)-(data_person.Data && data_person.Data[0]?.TodayDrink)}} 毫升<span class="water-drink"></span></ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>	
  </div>
</ion-content>
