<ion-header>
  <ion-toolbar color="primary">
    <ion-title>主頁面</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ... 這裡是註解文字 ... 
  <ion-card >
    <ion-item color="warning" class="ion-text-center">
      <ion-label> 請選擇此設備型號 </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item color="light" class="ion-text-center" *ngFor="let dispenser of dispensers" [routerLink]="['../menu/',dispenser.Dispenser]">
        <ion-label> {{ dispenser.Dispenser}} </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  -->

  <ion-card >
    <ion-item color="warning" class="ion-text-center">
      <ion-label> 請選擇此設備型號 </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item color="light" class="ion-text-center" [routerLink]="['../menu/',data_dispensers.Data && data_dispensers.Data[0]?.Dispenser]">
        <ion-label> {{ data_dispensers.Data && data_dispensers.Data[0]?.Dispenser}} </ion-label>
      </ion-item>
      <ion-item color="light" class="ion-text-center" [routerLink]="['../menu/',data_dispensers.Data && data_dispensers.Data[1]?.Dispenser]">
        <ion-label> {{ data_dispensers.Data && data_dispensers.Data[1]?.Dispenser}} </ion-label>
      </ion-item>
      <ion-item color="light" class="ion-text-center" [routerLink]="['../menu/',data_dispensers.Data && data_dispensers.Data[2]?.Dispenser]">
        <ion-label> {{ data_dispensers.Data && data_dispensers.Data[2]?.Dispenser}} </ion-label>
      </ion-item>
      <ion-item color="light" class="ion-text-center" [routerLink]="['../menu/',data_dispensers.Data && data_dispensers.Data[3]?.Dispenser]">
        <ion-label> {{ data_dispensers.Data && data_dispensers.Data[3]?.Dispenser}} </ion-label>
      </ion-item>
      <ion-item color="light" class="ion-text-center" [routerLink]="['../menu/',data_dispensers.Data && data_dispensers.Data[4]?.Dispenser]">
        <ion-label> {{ data_dispensers.Data && data_dispensers.Data[4]?.Dispenser}} </ion-label>
      </ion-item>
      <ion-item color="light" class="ion-text-center" [routerLink]="['../menu/',data_dispensers.Data && data_dispensers.Data[5]?.Dispenser]">
        <ion-label> {{ data_dispensers.Data && data_dispensers.Data[5]?.Dispenser}} </ion-label>
      </ion-item>
      <ion-item color="light" class="ion-text-center" [routerLink]="['../menu/',data_dispensers.Data && data_dispensers.Data[6]?.Dispenser]">
        <ion-label> {{ data_dispensers.Data && data_dispensers.Data[6]?.Dispenser}} </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  
</ion-content>